
<html>
<body>
<center>
<br><br><br><br>

<font size="6" face="high tower text">CERTIFICATE BOOKKEEPING</font>
<br><br>
<font face="high tower text" size="5"> HOME PAGE


<table width = "25%" cellpadding="10">
<tr>

<td><br><br><form action="{{node_address}}/index"> <input type="submit" value="Add a new certificate"> </form> </td>
<td><br><br><form action="{{node_address}}/revoke1"> <input type="submit" value="Revoke a certificate"> </form> </button> </td>

</tr>
<tr>
<td><br><form action="{{node_address}}/validate1"> <input type="submit" value="Validate a certificate"> </form></td>
<td><br><form action="{{node_address}}/mine"> <input type="submit" value="Request to mine"> </form> </td>

<td><br><form action="{{node_address}}/display"> <input type="submit" value="Display chain"> </form> </td>

</tr> 

</table>
</font>
</body>



</html>
